{% extends "layout.html" %}
{% block title %}You did it!{% endblock %}
{% block body %}
<section class="parallax phase phase5">
    <div class="container">
        <div>
            <img src="static/imgs/phase5.png">
        </div>
            <p class="lead" style="font-size: 40px">Congrats - you did it!</p>
        <p><i class="glyphicon glyphicon-menu-down"></i>
            scroll down to see how you can continue to better our planet
        <i class="glyphicon glyphicon-menu-down"></i></p>
    </div>
</section>
<section class="scrolling content">
    <div class="container">
        <p class="lead">Congratulations!</p>
        <p>
            You have formed a new habit that positively affects the world around you — success!
            You saved your virtual planet from destruction, and you’re equipped to continue your new
            found habit of recycling to rescue our physical space on Earth.
        </p>
        <p class="lead">
            We’ve said it before, but it’s more pertinent now than ever. Don’t stop now. Do something — recycle.
        </p>
    </div>
</section>
{% endblock %}
